<!-- FOOTER
     ================================================== -->
<div id="footer">
  <footer class="row">
    <p class="back-top floatright">
      <a href="#top"><span></span></a>
    </p>
    <div class="four columns">
      <h1>GET SOCIAL</h1>
      <div class="social facebook">
	<a href="#"></a>
      </div>
      <div class="social twitter">
	<a href="#"></a>
      </div>
      <div class="social deviantart">
	<a href="#"></a>
      </div>
      <div class="social flickr">
	<a href="#"></a>
      </div>
      <div class="social dribbble">
	<a href="#"></a>
      </div>
    </div>
  </footer>
</div>
<div class="copyright">
  <div class="row">
    <div class="six columns">
      &copy;<span class="small">Copyright &copy; 2015 Leon Mergen</span>
    </div>
    <div class="six columns">
      <span class="small floatright"></span>
    </div>
  </div>
</div>
