<head>
  <meta charset="utf-8"/>
  <!-- Set the viewport width to device width for mobile -->

  <meta name="viewport" content="width=device-width"/>
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

  <meta name="description" content="{% if page.seo_descr %}{{ page.seo_descr | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.seo_descr }}{% endif %}">
  <meta name="keywords" content="{% if page.seo_keywords %}{{ page.seo_keywords | strip_html }}{% else %}{{ site.seo_keywords }}{% endif %}">

  <!-- Included CSS Files-->
  <link rel="stylesheet" href="{{ "/stylesheets/syntax.css"     | prepend: site.baseurl }}"><!-- syntax highlighter -->
  <link rel="stylesheet" href="{{ "/stylesheets/style.css"      | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/stylesheets/blog.css"       | prepend: site.baseurl }}"><!-- blog stylesheet -->
  <link rel="stylesheet" href="{{ "/stylesheets/skins/teal.css" | prepend: site.baseurl }}"><!-- skin color -->
  <link rel="stylesheet" href="{{ "/stylesheets/responsive.css" | prepend: site.baseurl }}">
  <!-- IE Fix for HTML5 Tags -->
  <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
  </script>
  
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />

</head>
