  <link rel="stylesheet" href="{{ "/stylesheets/style.css"      | prepend: site.baseurl }}">

  <!-- Javascript files placed here for faster loading -->
<script src="{{ "/javascripts/foundation.min.js"       | prepend: site.baseurl }}"></script>
<script src="{{ "/javascripts/jquery.cycle.js"         | prepend: site.baseurl }}"></script>
<script src="{{ "/javascripts/app.js"                  | prepend: site.baseurl }}"></script>
<script src="{{ "/javascripts/modernizr.foundation.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/javascripts/slidepanel.js"           | prepend: site.baseurl }}"></script>
<script src="{{ "/javascripts/scrolltotop.js"          | prepend: site.baseurl }}"></script>
<script src="{{ "/javascripts/hoverIntent.js"          | prepend: site.baseurl }}"></script>
<script src="{{ "/javascripts/superfish.js"            | prepend: site.baseurl }}"></script>
<script src="{{ "/javascripts/responsivemenu.js"       | prepend: site.baseurl }}"></script>
<script src="{{ "/javascripts/jquery.tweet.js"         | prepend: site.baseurl }}"></script>
<script src="{{ "/javascripts/twitterusername.js"      | prepend: site.baseurl }}"></script>
