---
layout: default
---

<!-- SUBHEADER
     ================================================== -->
<div id="subheader">
  <div class="row">
    <div class="eight columns">
      <p class="bread leftalign">
	You are here: <a href="{{ "/index.html" | prepend: site.baseurl }}"> Home</a> / <a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
      </p>
    </div>
  </div>
</div>
<div class="hr">
</div>

<!-- CONTENT
     ================================================== -->
<div class="row">
  <div class="twelve columns noleftmargin">
    <!-- MAIN CONTENT -->
    <div class="twelve columns blog">
      <div class="sectiontitle">
	<h4>{{ page.title }}</h4>
      </div>

      {{ content }}

      {% if page.author %}
      <div class="panel">
	<div class="avatar">
	  <img src="http://www.gravatar.com/avatar/{{ page.author_gravatar }}?s=40" alt="">
	</div>
	<h5 class="left">AUTHOR: {{ page.author }} </h5>
	<p class="clear authortext">
	  Leon is a professional software engineer working as a freelance consultant or contractor. He spends most of his time hacking away on opensource projects in Haskell, drinking ice-coffee and giving unasked advice to unsuspecting strangers.<br/>
	</p>
      </div>
      {% endif %}

      {% include comments.html %}
    </div>
  </div>
</div>
<div class="hr">
</div>
