---
layout: default
---

<!-- SUBHEADER
     ================================================== -->
<div id="subheader">
  <div class="row">
    <div class="eight columns">
      <p class="bread leftalign">
	You are here: <a href="{{ "/index.html" | prepend: site.baseurl }}"> Home</a> / <a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
      </p>
    </div>
  </div>
</div>
<div class="hr">
</div>

<!-- CONTENT
     ================================================== -->
<div class="row">
  <div class="twelve columns noleftmargin">
    <!-- MAIN CONTENT -->
    <div class="twelve columns">
      <div class="sectiontitle">
	<h4>{{ page.title }}</h4>
      </div>

      {{ content }}

      {% include comments.html %}
    </div>
  </div>
</div>
<div class="hr">
</div>
